.slider-container{
    width: 80%;
    height: 90%;
    margin: 0 auto;    
    position: relative;
}

.slick-slider {
    height: 100%; /* Asegúrate de que el slider ocupe el 100% del contenedor */
}
.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    height: 100%; /* Ajusta la altura del slide */
}
.slick-slide img {
    width: 100% !important; 
    height: 200px !important; 
    object-fit: cover; 
}

.select-button{
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border: #0e360e;
    background-color: #D4CDA1;
    color: #0e360e;
}
.selected-gifts{
    margin: 0 auto;

}
.selected-gifts ul {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Columnas automáticas */
  gap: 5px; /* Espacio entre elementos */
  text-align: center; /* Opcional: Alinear texto */
  padding: 0;
}

.selected-gifts li {
  text-transform: capitalize;
  font-size: 0.6rem;
  color: black;
  
  margin: 3px;
  list-style: none; /* Eliminar viñetas */
  background-color: #f3f3f3; /* Fondo opcional */
  padding: 5px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados opcionales */
}
