.slider-container{
    width: 80%;
    height: 90%;
    margin: 0 auto;    
    position: relative;
}

.slick-slider {
    height: 100%; /* Asegúrate de que el slider ocupe el 100% del contenedor */
}
.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    height: 100%; /* Ajusta la altura del slide */
}
.slick-slide img {
    width: 100% !important; 
    height: 200px !important; 
    object-fit: cover; 
}

.select-button{

    padding: 5px 10px;
    border-radius: 20px;
    border: #0e360e;
    background-color: #D4CDA1;
    color: #0e360e;
}
    